body   {
    /* background-image: linear-gradient(rgb(0, 0, 0),rgb(44, 44, 44),rgb(0, 0, 0)); */
    color: white !important;
    background-image: url("https://janschreiber.github.io/img2/black-chalk.jpg");

}
#nav-bar    {
    position: fixed;
    width: 100%;
   

}
.navbar {
    background-image: linear-gradient(to left,#4343436e,#00000061);
    padding:0 !important;
    position: relative;
    width: 100%;
}
.navbar-brand img  {
    background-color:rgb(255, 0, 0);
    height: 40px;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fd7e00, 0 0 40px #fd7e00;
}
.navbar-brand   { 
    background-color: #ff000081;
    padding-right: 10px;
    border-radius: 10px; 
    cursor: default;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fd0000, 0 0 40px rgb(255, 0, 0);
}
.navbar-nav{
    align-items: end;
}
a{
    color: white;
    font-weight: 700;
    padding: 5px;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-link.active {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    justify-content: end;
    width: fit-content;
    transition: 0.5s;
    text-shadow: 0 0 10px #fff, 0 0 20px #002fff, 0 0 30px #002fff, 0 0 40px #002fff;
}

/* --------HOME----------- */
#home {
   margin-bottom: 150px;
   padding-top: 100px;

}

.image {
    width: 100%;
}

.carousel, .carousel-inner{ 
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fd0000, 0 0 40px rgb(255, 0, 0);
}

.indention {
    text-align:justify;
    color: rgb(225, 225, 225);
    font-size: 18px;
    font-weight: 700;  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 5px;
}
h1{
    cursor: default;
	text-shadow: 0 0 10px #fff, 0 0 20px rgb(0, 149, 255);
}
.raymund    {
    animation: neon 0.5s ease-in-out infinite alternate;
}

.resume {
    font-size: 17px !important;
    text-decoration: underline;
    border: none !important;
    font-weight:bolder !important;
    color: rgb(255, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;

    text-shadow: 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #fc0000;
}
span {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #fc0000;
}
/* -----------------about---------------- */
#about {
    padding-top: 30px;
}
.sub-nav {
    background-color: #0000000f;
    justify-content: center;
}

.nav-item a{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px ;
    display: flex;
    padding: 5px;
    margin-right: 20px;

}
.nav-item a:hover  {
  color: rgb(255, 255, 255);

}
.nav-link.active{
    color:rgb(255, 255, 255) !important;
}
.tab-pane   {
    border-radius: 10px;
    width: fit-content;


}
.tab-pane li{
    font-size: 20px;
    margin: 5px 0;
    font-weight: 700;
    list-style-type: none;
    color: rgb(255, 255, 255);
    align-items: center;
}
.picWithText img {
    padding: 0 !important;
    border-radius: 10px;
    width: 100%;
    height: 70%;
    box-shadow: 0 0 10px #fff, 0 0 20px #00f7ff;
}
.picWithText p {
    font-size: 15px;
}
.tab-pane{
    padding: 0px 40px !important;
}

/* --------------works------------ */
#myWorks    {
    padding-top: 30px;
    margin-bottom: 200px ;
}

.myWorksImage {
    padding-top: 100px;
}
.redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redirect button {
    width: 60% !important;
    font-size: 15px !important;
    border: none !important;
    font-weight:bolder !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 72, 0), 0 0 70px rgb(255, 72, 0), 0 0 80px rgb(255, 0, 0), 0 0 100px rgb(255, 0, 0), 0 0 150px rgb(255, 0, 0);
}

/* -------------------contact section---------------- */
#contact {
    padding-top: 30px;
}
.form-group label {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000;
}

.contact-icons  {
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
}
.contact-form {
    margin: 0 20% !important;
}


/* ------------for resposive screen--------------- */
@media (max-width:770px) {
    .navbar-brand {
        height: 30px;
    }
    .navbar-brand img  {
        height: 20px;
    }
    .contact-form {
        margin: 10px !important;
    }
    .tab-pane {
        padding: 5px !important;
    }
    .tab-pane li {
    font-size: 15px;
    }
    .nav-item a {
        font-size: 15px;
    }
    #home {
        margin-bottom: 0;
        padding-top: 20px;
    }
 
    .sub-title {
        padding: 0 !important;
    }
    .indention, i {
        font-size: 12px;

    }
    .resume {
        font-size: 20px !important;
        margin-bottom: 50px;
    }
    .raymund    {
        font-size: 30px !important;
    }
    h1  {
        padding-top: 20px !important;
        font-size: 25px !important;
    }
    #myWorks {
        margin-bottom: 50px;
    }
    .myWorksImage {
        padding-top: 0;
    }
    .form-group {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        background: none;
    }
    .navbar-brand {
        background-color: #ff000081;
        padding-right: 10px;
        border-radius: 10px;
    }
    .top-menu {
        color: red !important;
        text-shadow: 3px 0px 5px rgb(0, 0, 0);
    }
    .picWithText p {
        font-size: 10px;
    }
    .picWithText img {
        width: 50%;
        height: 100px;
        margin-top:10px ;
    }
    .picWithText {
        display: flex;
    }
    .footer a, .footer {
        font-size: 12px;
        color: #00c3fe !important;
        text-shadow: 3px 0px 5px rgb(255, 0, 0);

    }
}

@keyframes neon {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fc0000;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #000dff;
    }
}